
*.mp3
*/__pycache__
*.DS_Store
*.ipynb_checkpoints/
mp3process/saveddata
mp3process/FirstInputLayer.ipynb
.ipynb_checkpoints
__pycache__
Pickles

saved_all_pkl
full_log3_model_save
Untitled.ipynb
mp3process/log1_model_save
mp3process/wellfitmfccmodel
output
